# Copia este archivo como ".env" y coloca tus datos reales

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_contraseña_de_postgres
DB_NAME=umss_db

PORT=3000
SESSION_SECRET=cualquier-texto-secreto-y-largo
